
.console {
    height: 50vh;
    width: 65%;
    background-color: rgb(33, 37, 41);
    position: relative;
    margin-top: 50px !important;
    
}

.canvas {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (orientation: portrait) {
  .console {
    height: 35vh;
    border-radius: 150px !important;
  }
}