
.console {
    height: 70vh;
    width: 65%;
    background-color: rgb(33, 37, 41);
    border: 10px solid rgb(80, 80, 8);
    position: relative;    
}

.canvas {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (orientation: portrait) {
  .console {
    height: 35vh;
    border-radius: 150px !important;
  }
}